@import url('https://fonts.googleapis.com/css2?family=Anta&family=Poppins:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-link {
    @apply relative font-semibold text-white cursor-pointer 
          text-[17px] w-fit
          hidden xl:block
          after:absolute after:block after:origin-center after:content-['']  
          after:h-[3px] after:w-full after:bg-[#1FFFFF]
          after:scale-x-0 after:hover:scale-x-100 
          after:transition after:duration-300 
  };

  .nav-link-mobile {
    @apply relative font-semibold text-white cursor-pointer
          text-[27px] mb-[2rem] w-fit    
          xl:block 
          after:absolute after:block after:origin-center after:content-[''] 
          after:h-[3px] after:w-full after:bg-[#1FFFFF] 
          after:scale-x-0 after:hover:scale-x-100 
          after:transition after:duration-300 
};

  .heading {
    @apply text-[28px] sm:text-[33px] md:text-[45px] 
        text-white text-center 
          font-bold uppercase
  };

  .text-neon-blue {
    @apply m-auto text-lg no-underline rounded-lg bg-transparent;
    text-shadow: -4px 5px 5px #091243, 0 0 10px #00D0FF;
    color: #1FFFFF;
    animation: neon-flicker 1.5s infinite alternate;
  }

  .text-neon-blue-without-flicker {
    @apply m-auto text-lg no-underline rounded-lg bg-transparent;
    text-shadow: -2px 4px 4px #091243, 0 0 10px #00D0FF, 0 0 20px #00D0FF, 0 0 30px #00D0FF, 0 0 40px #00D0FF, 0 0 55px #00D0FF, 0 0 75px #00D0FF;
    color: #1FFFFF;
  }

  .text-neon-red-without-flicker {
    @apply m-auto text-lg no-underline rounded-lg bg-transparent;
    text-shadow: -2px 4px 4px #b24562, 0 0 10px #FF6384, 0 0 20px #FF6384, 0 0 30px #FF6384, 0 0 40px #FF6384, 0 0 55px #FF6384, 0 0 75px #FF6384;
    color: #FF6384; /* RGBA(255, 99, 132, 1) を16進数表記に変換 */
  }

  .text-neon-yellow-without-flicker {
    @apply m-auto text-lg no-underline rounded-lg bg-transparent;
    text-shadow: -2px 4px 4px #998a00, 0 0 10px #cccc00, 0 0 20px #cccc00, 0 0 30px #cccc00, 0 0 40px #cccc00, 0 0 55px #cccc00, 0 0 75px #cccc00;
    color: #cccc00;
  }

  .text-sf-blue {
    @apply text-lg no-underline rounded-lg bg-transparent;
    text-shadow: 
        -2px 4px 5px #091243,
        0 0 15px #00D0FF, 
        0 0 25px #00D0FF, 
        inset 0 0 2px white; 
    color: #1FFFFF;
  }

  @keyframes neon-flicker {
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
      text-shadow: -2px 4px 4px #091243, 0 0 10px #00D0FF, 0 0 20px #00D0FF, 0 0 30px #00D0FF, 0 0 40px #00D0FF, 0 0 55px #00D0FF, 0 0 75px #00D0FF;
      color: #1FFFFF;
    }
    20%, 24%, 55% {        
      text-shadow: none;
      color: #1FFFFF;
    }
  }

  .svg-neon-blue {
    filter: drop-shadow(-2px 3px 3px #091243) drop-shadow(0 0 2px #00D0FF);
    color: #1FFFFF;
    animation: svg-neon-flicker 6s infinite alternate;
  }

  .svg-neon-blue:hover {
    filter: drop-shadow(-2px 4px 4px #091243) drop-shadow(0 0 10px #00D0FF) drop-shadow(0 0 20px #00D0FF) drop-shadow(0 0 30px #00D0FF) drop-shadow(0 0 40px #00D0FF) drop-shadow(0 0 55px #00D0FF) drop-shadow(0 0 75px #00D0FF);
    color: #1FFFFF;
    animation: hover-neon-flicker 2s alternate; 
  }
  
  @keyframes svg-neon-flicker {
    0%, 25% {
      filter: none;
    }
    50% {
      filter: drop-shadow(-2px 4px 4px #091243) drop-shadow(0 0 10px #00D0FF) drop-shadow(0 0 20px #00D0FF) drop-shadow(0 0 30px #00D0FF) drop-shadow(0 0 40px #00D0FF) drop-shadow(0 0 55px #00D0FF) drop-shadow(0 0 75px #00D0FF);
    }
    75%, 100%  {
      filter: none;
    }
  }

  @keyframes hover-neon-flicker {
    0%  {
        filter: drop-shadow(-2px 3px 3px #091243) drop-shadow(0 0 2px #00D0FF);
    }
    50%, 100% {
        filter: drop-shadow(-2px 4px 4px #091243) drop-shadow(0 0 10px #00D0FF) drop-shadow(0 0 20px #00D0FF) drop-shadow(0 0 30px #00D0FF) drop-shadow(0 0 40px #00D0FF) drop-shadow(0 0 55px #00D0FF) drop-shadow(0 0 75px #00D0FF);
    }
}
}
