@import url('https://fonts.googleapis.com/css2?family=Anta&family=Poppins:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-link {
    @apply relative font-semibold text-white cursor-pointer 
          text-[17px] w-fit
          hidden md:block
          after:absolute after:block after:origin-center after:content-['']  
          after:h-[3px] after:w-full after:bg-yellow-400
          after:scale-x-0 after:hover:scale-x-100 
          after:transition after:duration-300 
  };

  .nav-link-mobile {
    @apply relative font-semibold text-white cursor-pointer
          text-[27px] mb-[2rem] w-fit    
          md:block 
          after:absolute after:block after:origin-center after:content-[''] 
          after:h-[3px] after:w-full after:bg-yellow-400 
          after:scale-x-0 after:hover:scale-x-100 
          after:transition after:duration-300 
};

  .heading {
    @apply text-[28px] sm:text-[33px] md:text-[45px] 
        text-white text-center 
          font-bold uppercase
  };
}
